$colour-bg: #e1e9f3;
$colour-primary: #d9534f;
$colour-secondary: #3a4654;
$colour-tertiary: #8eb8e7;
$colour-add: #35ec35;
$nav-height: 3rem;

@mixin noSelect() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.krello-list {
	min-width: 20rem;
	width: 20rem;
	height: 100%;
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: lighten($colour-tertiary, 0%);
	border-radius: 0.3rem;
	.krello-list-title {
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 1.2rem;
		cursor: pointer;
		@include noSelect();
		display: flex;
		.krello-list-title-text {
			width: 100%;
		}
		.krello-list-title-delete {
			float: right;
			color: $colour-primary;
			cursor: pointer;
			&:hover,
			&:active,
			&:focus {
				color: darken($colour-primary, 30%);
			}
		}
		input {
			width: 100%;
			min-height: 30px;
			height: auto;
			resize: none;
			overflow: hidden;
			border: none;
			border-radius: 0.3rem;
			padding: 0.3rem;
			box-shadow: 1px 1px darken($colour-bg, 40%);
			box-sizing: border-box;
		}
	}
	.krello-list-cards {
		display: block;
	}
}
