$colour-bg: #e1e9f3;
$colour-primary: #d9534f;
$colour-secondary: #3a4654;
$colour-tertiary: #8eb8e7;
$colour-add: #35ec35;
$nav-height: 3rem;

@mixin noSelect() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.krello-card {
	margin-top: 0.4rem;
	border-radius: 0.3rem;
	background-color: $colour-bg;
	padding: 0.4rem;
	box-shadow: 1px 1px darken($colour-bg, 40%);
	cursor: pointer;
	@include noSelect();
	&:hover,
	&:active,
	&:focus {
		background-color: darken($colour-bg, 10%);
	}
	.krello-card-menu {
		display: flex;
		margin-top: 0.4rem;
		.krello-card-menu-item {
			cursor: pointer;
			margin-right: 0.5rem;
			&.fa-trash {
				color: $colour-primary;
				&:hover,
				&:active,
				&:focus {
					color: darken($colour-primary, 30%);
				}
			}
			&.fa-info-circle {
				color: $colour-secondary;
				&:hover,
				&:active,
				&:focus {
					color: darken($colour-secondary, 30%);
				}
			}
		}
	}
	textarea {
		width: 100%;
		min-height: 50px;
		height: auto;
		resize: none;
		overflow: hidden;
		border: none;
		border-radius: 0.3rem;
		padding: 0.3rem;
		box-shadow: 1px 1px darken($colour-bg, 40%);
		box-sizing: border-box;
	}
}
